#about {
  margin: 10% auto 5%;
  // height: 90vh;
  h2 {
    font-size: 10rem;
    color: rgba(68,143,163, 0.3);
  }
  .wrapper {
    margin: 2% auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    position: relative;
  }
  .aboutMe {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  h2.me {
    position: absolute;
    top: -25%;
    left: -6%;
  }
  p {
    font-size: 1.4rem;
    align-self: center;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-right: 5%;
    line-height: 1.45;
    a {
      color: black;
      font-size: 1.4rem;
    }
  }
  .mugshot {
    justify-self: end;
    grid-column: 2 / -1;
    grid-row: 1 / span 1;
    img {
      height: 450px;
    }
  }
  .social {
    grid-row: 2 / span 1;
    grid-column: 2 / -1;
    justify-self: start;
    height: 20px;
    margin: 10px 0;
    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 10px;
    }
    a {
      font-size: 1.6rem;
      color: black;
    }
    a:hover {
      color: $darkblue;
    }
  }
}