header {
    height: 100vh;
    padding: 1%;
    margin-bottom: 5%;
    .wrapper {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
        // border: $darkblue 2px solid;
    }
  h4 {
    grid-row: 1 / span 1;
    text-align: left;
    color: black;
  }
  nav {
    grid-row: 1 / span 1;
    grid-column: 2 / -1
  }
  ul {
    display: flex;
    justify-content: flex-end;
  }
  li {
    list-style-type: none;
    display: inline-block;
    width: 17%;
    color: black;
    a {
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        border-bottom: 0;
        padding-bottom: 3px;
        &:hover {
            border-bottom: black 2px solid;
        }
    }
  }
  h1 {
    background: url('../../../public/assets/ice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h2 {
    background: url('../../../public/assets/ice.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .banner {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    position: relative;
    display: grid;
    grid-template-rows: 0.75fr auto 0.75fr auto;
    grid-template-columns: 1fr 1fr;
    h1 {
        font-size: 7.5rem;
        text-align: right;
        grid-row: 3 / span 1;
        grid-column: 1 / -1;
        background-clip: text;
    }
    h2 {
        font-size: 9rem;
        grid-row: 1 / span 1;
        background-clip: text;
    }
    .name {
        font-size: 2rem;
        position: relative;
        left: 15%;
        grid-row: 2 / span 1;
        grid-column: 1 /span 1;
    }
    .developer {
        font-size: 2rem;
        grid-row: 4 / -1;
        grid-column: 1 / -1;
        text-align: right;
    }
  }
  .svgContainer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    margin: 0 auto;
    width: 80%;
  }
}


/// Toronto skyline ///
svg {
    width: 60%;
}
path {
    stroke: #fff;
    fill: none;
    stroke-dasharray: 750px;
    animation: animate 5s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 800px;
    }
    30% {
        opacity: .1;
        fill: none;
        stroke-dashoffset: 800px;
    }
    90% {
        fill: rgba(255,255,255,0);
    }
    100% {
        opacity: 1;
        fill: none; 
        // stroke-dashoffset: -800px;
    }
}