header {
    height: 100vh;
    padding: 1%;
    margin-bottom: 5%;
    .wrapper {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        text-align: center;
    }
.topBar {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 100;
    h4 {
        text-align: left;
        color: black;
        float: left;
        width: 40%;
    }
    nav {
        width: 60%;
        float: right;
        text-align: right;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        padding-right: 25px;
    }
    li {
        list-style-type: none;
        display: inline-block;
        width: 17%;
        color: black;
        margin-right: 20px;
        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            border-bottom: 0;
            padding-bottom: 3px;
            font-family: $title;
            &:hover {
            border-bottom: black 2px solid;
            }
        }
    }
}
    h1 {
        background: url('../../../public/assets/ice.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    h2 {
        background: url('../../../public/assets/ice.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .banner {
        grid-column: 1 / -1;
        grid-row: 2 / span 1;
        position: relative;
        display: grid;
        grid-template-rows: 0.75fr auto;
        grid-template-columns: 1fr 1fr;
        margin: 5% 0 0;
        // h1 {
        //     font-size: 7.5rem;
        //     text-align: right;
        //     grid-row: 3 / span 1;
        //     grid-column: 1 / -1;
        //     background-clip: text;
        // }
        h1 {
            font-size: 9rem;
            grid-row: 1 / span 1;
            background-clip: text;
            grid-column: 1 / -1;
        }
        .name {
            font-size: 2rem;
            position: relative;
            top: 9%;
            grid-row: 1 / span 1;
            grid-column: 1 /span 1;
        }
        .developer {
            font-size: 2rem;
            grid-row: 2 / -1;
            grid-column: 1 / -1;
            text-align: right;
            position: relative;
            top: -19%;
        }
    }
    .svgContainer {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        margin: 0 auto;
        width: 100%;
    }
}


/// Toronto skyline ///
svg {
    width: 80%;
}
path {
    stroke: #fff;
    fill: none;
    stroke-dasharray: 750px;
    animation: animate 5s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 800px;
    }
    30% {
        opacity: .1;
        fill: none;
        stroke-dashoffset: 800px;
    }
    90% {
        fill: rgba(255,255,255,0);
    }
    100% {
        opacity: 1;
        fill: none; 
        // stroke-dashoffset: -800px;
    }
}