@import 'partials/setup';
@import 'partials/utils';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/about';
@import 'partials/work.scss';
@import 'partials/skills.scss';
@import 'partials/contact.scss';
@import 'partials/headerMQs.scss';



// #about, #work {
//     // display: none;
// }

.wrapper {
    width: 85%;
    padding: 15px;
    margin: 0 auto;
}

img {
    width: 100%;
}

html.sr .load-hidden {
    visibility: hidden;
}


